<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="icon" type="image/x-icon" href="assets/img/favicon.png" />

    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon-16x16.png">
    <link rel="manifest" href="/assets/img/site.webmanifest">
    <link rel="mask-icon" href="/assets/img/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/assets/img/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/assets/img/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />

    <link rel="stylesheet" href="/assets/css/lnr-icon.css" />

    <link rel="stylesheet" href="/assets/css/font-awesome.min.css" />

    <link rel="stylesheet" href="/assets/plugins/select2/select2.min.css" />

    <link rel="stylesheet" href="/assets/css/style.css" />

    <title>Bacancy</title>
  </head>

  <body>
    <div id="loader-wrapper">
      <div class="loader">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
      </div>
    </div>

    <div class="inner-wrapper login-body">
      <div class="login-wrapper">
        <div class="container">
          <div class="loginbox shadow-sm grow">
            <div class="login-left">
              <img class="img-fluid" src="/assets/img/logo.png" alt="Logo" />
            </div>
            <div class="login-right">
              <div class="login-right-wrap text-center">
              <% if (error) { %>
                <h1 class="text-danger"><%= error %></h1>
              <% } else { %>
                <h1 class="text-success"><%= message %></h1>
              <% }
                if (route) { %>
                <a href="<%= route %>" class="btn btn-theme button-1 text-white ctm-border-radius p-2 add-person ctm-btn-padding mt-5"><%= text %></a>
              <% }else { %>
                <p class="btn btn-theme button-1 text-white ctm-border-radius p-2 add-person ctm-btn-padding mt-5" onclick="history.back()"><%= text %></p>
              <% } %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="/assets/js/jquery-3.2.1.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/additional-methods.min.js"></script>

    <script src="/assets/js/popper.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>

    <script src="/assets/plugins/theia-sticky-sidebar/ResizeSensor.js"></script>
    <script src="/assets/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js"></script>

    <script src="/assets/plugins/select2/select2.min.js"></script>

    <script src="/assets/js/script.js"></script>
    <script>
      if('<%- message %>'){
        localStorage.clear();
      }
    </script>
  </body>
</html>